
Predicting Employee Turnover/.ipynb_checkpoints/Notebook-checkpoint.ipynb
Heart Disease Classification Tree/.ipynb_checkpoints/Notebook-checkpoint.ipynb
Clustering Geolocation Data/.ipynb_checkpoints/Notebook-checkpoint.ipynb
Heart Disease Classification Tree/.ipynb_checkpoints/Notebook-checkpoint.ipynb
*.xml
.idea/Projects.iml
Predicting College Admission/.ipynb_checkpoints/Notebook-checkpoint.ipynb
Predict House Prices with Keras/.ipynb_checkpoints/Notebook-checkpoint.ipynb
Predict House Prices with Keras/.ipynb_checkpoints/Notebook-Copy1-checkpoint.ipynb
Predict Future Product Prices/.ipynb_checkpoints/Notebook-checkpoint.ipynb
Anomaly Detection with Keras/.ipynb_checkpoints/Anomaly_Detection_Time_Series_Keras-checkpoint.ipynb
Anomaly Detection with Keras/.ipynb_checkpoints/Anomaly_Detection_Time_Series_with_Keras-checkpoint.ipynb
